# IDE
.idea

# kicad
kicad/AIOsense/#auto_saved_files#
kicad/AIOsense/*-backups
kicad/AIOsense/*.csv
kicad/AIOsense/*.step
kicad/AIOsense/*.xml
kicad/AIOsense/*_sch-bak
kicad/AIOsense/fp-info-cache
kicad/AIOsense/manufactoring/

# other
venv/
