# https://esphome.io/components/sensor/bme680.html

substitutions:
  bmex80_address: "0x76"
  bmex80_offset_humidity: "0"
  bmex80_offset_temperature: "0"
  bmex80_update_interval: 30s

sensor:
  - platform: bme680
    address: "${bmex80_address}"
    update_interval: "${bmex80_update_interval}"
    temperature:
      name: "Temperature"
      filters:
        - offset: "${bmex80_offset_temperature}"
    humidity:
      name: "Humidity"
      filters:
        - offset: "${bmex80_offset_humidity}"
    pressure:
      name: "Pressure"
    gas_resistance:
      name: "Gas Resistance"
